body{
    background-color:#F0F2F5;
}

.homeImage{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.backgImg{
    position: absolute;
    width: 100%;
    height: 30%;;
    background-color: #0375D6;
}
.eContainer{
    position: absolute;
    border: 1px solid #c3c2c2;
    border-radius: 7% 7% 3% 3%;
    padding: 10px;
    box-shadow: 2px 2px 6px #888888, -2px -2px 6px #888888; 
    background-color: white;
}
#eCardOne{
    top:45%;
    min-height: 30%;
    left: 2%;
}

.ecard-header{
    width: 100%;
    border-bottom: 1px solid #686363;
    margin: 10px 0px;
    padding: 10px 0px;
    font-size: 1.5em;
    font-weight: 600;
}

.ecard-body{
    padding: 20px 5px;
}
.logBtn{
    position: absolute;
    top:90%;
    left: 2%;
}