<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'enfermeriaapp/enfermeria_links.html' %}
    <link rel="stylesheet" href="{% static 'enfermeriaapp/mapa.css' %}">
    <script type="text/javascript" src="{% static 'enfermeriaapp/mapa.js' %}"></script>
    <title>Atencion</title>
</head>

<body>
    {% include 'enfermeriaapp/enfermeria_navbar.html' %}
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Detalle de atencion</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"><label for=""><strong>Paciente:
                            </strong>{{res.res_persona.per_nombre}}</label>
                    </div>
                    <div class="col-md-4"><label for=""><strong>Realizado el: </strong>{{res.res_fechaReserva}}</label>
                    </div>
                    <div class="col-md-4"><label for=""><strong>Para el: </strong>{{res.res_fechaServicio}} -
                            {{res.res_horaServicio}}</label></div>
                </div>
                <hr>
                <h4>Servicios.- </h4>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Nombre</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Cantidad</h4>
                    </div>
                </div>
                <br>
                {% for serv in servicios %}
                <div class="row">
                    <div class="col-md-6"><label for="">{{serv.ser.ser_nombre}}</label></div>
                    <div class="col-md-6"><label for="">{{serv.cant}}</label></div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="map">

        </div>
        <br><br>
        <a class="btn btn-secondary" href="{% url 'enfermeriaapp:atender_solicitudes' %}">Volver a atenciones</a>
        <br><br>
    </div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVs3UlUqaXiX7rwH2nBYXXxu3196dGbOY&callback=initMap">
        </script>
</body>

</html>