<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'enfermeriaapp/enfermeria_links.html' %}

    <title>Document</title>
</head>

<body>
    {% include 'enfermeriaapp/enfermeria_navbar.html' %}
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h4>Editar servicio</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'enfermeriaapp:editar_servicio_view' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" name="ser_nombre" maxlength="40" class="form-control"
                            value="{{servicio.ser_nombre}}">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Precio</label>
                        <input type="text" name="ser_precio" maxlength="8" class="form-control"
                            value="{{servicio.ser_precio}}">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Descripcion</label>
                        <input type="text" name="ser_desc" maxlength="80" value="{{servicio.ser_desc}}"
                            class="form-control">
                    </div>
                    <button name="editar" value="{{servicio.id}}" class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
        <br>
        <a href="{% url 'enfermeriaapp:gestionar_servicios_view' %}" class="btn btn-secondary">Volver a servicios</a>
    </div>
</body>

</html>