{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'enfermeriaapp/enfermeria_links.html' %}

    <link rel="stylesheet" href="{% static 'enfermeriaapp/home_page.css' %}">
    <title>Enfermeria HomePage</title>
</head>

<body>
    {% include 'enfermeriaapp/enfermeria_navbar.html' %}
    <div class="backgImg">
        <img class="homeImage" src="{% static 'enfermeriaapp/enfermeria_homepage_bckg.jpg' %}" alt="enfermeria">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card eShadow" style="margin: 20px auto;">
                    <div class="card-header">
                        Administracion de personal y servicios
                    </div>
                    <div class="card-body">
                        <p>
                            Inicia session para registrar el personal de enfermeria y administracion para
                            el gestionamiento de las reservas y atenciones a domicilio. Nuestro sistema
                            hace facil, sencillo y eficiente la administracion de su valioso recurso humano.
                            Tambien adiciona, edita y elmina servicios de la enfermeria, con actualizacion
                            inmediata
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card eShadow" style="margin: 20px auto;">
                    <div class="card-body">
                        <h4 class="card-title">Contactanos</h4>
                        <p><strong>Email:</strong> example@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <form action="{% url 'enfermeriaapp:homepage_view' %}" method="POST">
            {% csrf_token%}
            {% if is_logged %}
            <button class="btn btn-warning" name="logoutBtn">Salir</button>
            {% else %}
            <button class="btn btn-success" name="loginBtn">Iniciar session</button>
            {% endif %}
        </form>
        {% if is_logged %}
        <br>
        <a href="{% url 'enfermeriaapp:perfil_view' %}" class="btn btn-info">Perfil</a>
        <br><br>
        {% endif %}
    </div>



</body>

</html>