<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'enfermeriaapp/enfermeria_links.html' %}

    <title>Mis atenciones</title>
</head>

<body>
    {% include 'enfermeriaapp/enfermeria_navbar.html' %}
    <div class="container">
        <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Atenciones</h4>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-3"><h4>Cliente</h4></div>
                    <div class="col-md-3"><h4>Realizada</h4></div>
                    <div class="col-md-3"><h4>Fecha servicio</h4></div>
                    <div class="col-md-3"><h4>Opciones</h4></div>
                </div>
                <br>
                <form action="{% url 'enfermeriaapp:atender_solicitudes' %}" method="POST">
                    {% csrf_token %}
                    {% for solicitud in solicitudes %}
                    <div class="row">
                        <div class="col-md-3"><label for="">{{solicitud.res_persona.per_nombre}}</label></div>
                        <div class="col-md-3"><label for="">{{solicitud.res_fechaReserva}}</label></div>
                        <div class="col-md-3"><label for="">{{solicitud.res_fechaServicio}}</label></div>
                        <div class="col-md-3"><button name="atender" value="{{solicitud.id}}"
                                class="btn btn-info">Ver</button></div>
                    </div>
                    <hr>
                    {% endfor %}
                </form>
            </div>
        </div>
        <br><br>
    </div>
</body>

</html>